In [40]:
import re
import pyodbc
import pandas as pd
from pandas import DataFrame
from geotext import GeoText #pip install geotext
import numpy as np

In [2]:

conn = pyodbc.connect('DSN=SQLAMLIN;UID=MSAmlin;PWD=password')
cur = conn.cursor()
table = '[initial].[LondonFireRecent]'
sql = 'select * from {}'.format(table)
df = pd.read_sql(sql, conn)

d = df[['Text']].to_dict()

locdic = {} # initialises locdic dictionary
succ = {}
succd = {}

roadarray = ['ROAD', 'LANE', 'DRIVE', 'WAY', 'STREET', 'AVENUE']
# array of locational keywords

#interates through the numbered keys of text dictionary
for i in d['Text']:
    text = d['Text'][i] # extracts text for each iteration
    address = {} # initialises address dictionary
    for word in roadarray: # iterates through each word in keywords
        try:
            search  = r'((?:\w+(?:\s+|$)){1})' + word # search for the word before the key word iterated
            road = re.search(search, text, re.IGNORECASE) #  assigns var raod to the search query ignoring case
            address['ROAD'] = road.group() # address['ROAD'] is the word before keyword+keyword
        except:
            pass
        
    # If address['ROAD'] still doesn't exist, assign it as UNKNOWN   
    try:
        address['ROAD']
    except:
        address['ROAD'] = 'UNKNOWN'
    
    # Assigns TOWN as the geotext identified city
    try:
        address['TOWN'] = GeoText(text).cities[-1] # The last entry of cities is the most granular
    except:   
        address['TOWN'] = 'UNKNOWN' # Sets it to null value if town didnt match anything
    
    locdic[i] = address # appends the address dictionary into the final locdic
    
locdf = pd.DataFrame.from_dict(locdic, orient='index') # transforms locdic into a df

# Performance metrics
missrows = locdf[(locdf['ROAD']=='UNKNOWN') & (locdf['TOWN']== 'UNKNOWN')].shape[0]
missroad = locdf.loc[locdf['ROAD'] == 'UNKNOWN'].shape[0]
misstown = locdf.loc[locdf['TOWN'] == 'UNKNOWN'].shape[0]
totalrows = locdf.shape[0]
TotSuc = 'Success Rate Total = ' + str(round((((totalrows - missrows)/totalrows)*100), 2))
RdSuc = 'Success Rate ROAD = ' + str(round((((totalrows - missroad)/totalrows)*100), 2))
TnSuc = 'Success Rate TOWN = ' + str(round((((totalrows - misstown)/totalrows)*100), 2))
print(TotSuc)
print(RdSuc)
print(TnSuc)
succ['TotalSuccess'] = TotSuc
succ['RoadSuccess'] = RdSuc
succ['TownSuccess'] = TnSuc
succd[table] = succ

Success Rate Total = 90.18
Success Rate ROAD = 72.07
Success Rate TOWN = 67.33

In [7]:
text = df.iloc[0]['Text']
text

'Over 97 firefighters and officers tackled a fire in a pub on Bellegrove Road, Welling this morning.\r\nSevenÂ\xa0people left the building before the Brigade arrived and there were no reports of any injuries.\r\nAround half of the first floor andÂ\xa0most of the roof was damaged in the fire.\r\nStation Manager Martin Freeman who was at the scene said;\r\n"Staff at the pub had a lucky escape as they heard the smoke alarm sound, left the pub and alerted the Brigade. I canâ€™t stress how important smoke alarms are, you should have one on every floor of your property and test them regularly.\r\n"Thanks to the alarm, seven members of staff were able to leave the building in good time but had they not had an early warning there could have been a very different outcome.â€\x9d\r\nFifteenÂ\xa0fire engines andÂ\xa0two aerial ladder platforms were at the scene from stations including East Greenwich, Plumstead, Erith, Lee Green, Eltham, Deptford and Bexley.\r\nThe Brigade was called at 0924 and the fire was under control at 1317. Crews are expected to be at the scene damping down for some time.\r\nThe cause of the fire is under investigation.'

In [49]:
def anlun_address(text):
    from geotext import GeoText #pip install geotext

    roadarray = ['ROAD', 'LANE', 'DRIVE', 'WAY', 'STREET', 'AVENUE']
    # array of locational keywords

    #interates through the numbered keys of text dictionary
    
    address = {} # initialises address dictionary
    for word in roadarray: # iterates through each word in keywords
        try:
            search  = r'((?:\w+(?:\s+|$)){1})' + word # search for the word before the key word iterated
            road = re.search(search, text, re.IGNORECASE) #  assigns var raod to the search query ignoring case
            address['ROAD'] = road.group() # address['ROAD'] is the word before keyword+keyword
        except:
            pass

    # If address['ROAD'] still doesn't exist, assign it as UNKNOWN   
    try:
        address['ROAD']
    except:
        address['ROAD'] = 'UNKNOWN'

    # Assigns TOWN as the geotext identified city
    try:
        address['TOWN'] = GeoText(text).cities[-1] # The last entry of cities is the most granular
    except:   
        address['TOWN'] = 'UNKNOWN' # Sets it to null value if town didnt match anything
    
    address # appends the address dictionary into the final locdic
    #return address['ROAD'] + ' ' + address['TOWN']
    #locdf = pd.DataFrame(address)#.from_dict(address, orient='index') # transforms locdic into a df
    address_string = address['ROAD'] + ' '+ address['TOWN']
    return address_string

In [50]:
anlun_address(text)

'Bellegrove Road Bexley'

In [45]:
df['RoadAddress'] = df['Text'].map(lambda x: anlun_address(x)['ROAD'])
df['TownAddress'] = df['Text'].map(lambda x: anlun_address(x)['TOWN'])
df['TownAddress2'] = df['TownAddress'].replace('UNKNOWN', np.nan)
df['TownAddress2'] = df['TownAddress2'].fillna(df['Location'])

In [46]:
df.head(30)

,IncidentID,Caption,Date,Location,Text,Time,Address,RoadAddress,TownAddress,TownAddress2
0,1,100 firefighters tackled Welling pub fire,31/08/2015,Westminster,Over 97 firefighters and officers tackled a fi...,31/08/2015,Bellegrove Road Bexley,Bellegrove Road,Bexley,Bexley
1,2,12 fire engines tackle Southwark apartment blo...,07/02/2017,Southwark,Twelve fire engines and 81 firefighters and of...,07/02/2017,Guildford Street Brixton,Guildford Street,Brixton,Brixton
2,3,12 people evacuate flat fire in Bermondsey,25/11/2015,Southwark,Twelve people escaped uninjured from a fire at...,25/11/2015,Grange Road UNKNOWN,Grange Road,UNKNOWN,Southwark
3,4,120 firefighters tackle Tottenham warehouse blaze,06/11/2015,Tower Hamlets,Twenty fire engines and aroundÂ 120 firefighte...,06/11/2015,Pretoria Road Edmonton,Pretoria Road,Edmonton,Edmonton
4,5,20 fire engines and 120 firefighters attended ...,06/06/2018,Westminster,TwentyÂ fire engines and 120 firefighters and ...,06/06/2018,UNKNOWN Battersea,UNKNOWN,Battersea,Battersea
5,6,20 firefighters tackled a house fire in Romford,29/05/2018,Havering,Four fire engines and 21 firefighters and offi...,29/05/2018,Dagenham Road Hornchurch,Dagenham Road,Hornchurch,Hornchurch
6,7,200 people evacuate from fire at Southwark hal...,15/11/2015,Southwark,Two hundred people safely evacuated from a stu...,15/11/2015,Stamford Street UNKNOWN,Stamford Street,UNKNOWN,Southwark
7,8,21 firefighters and officers fight fast food fire,17/02/2018,Waltham Forest,Four fire engines and 21 firefighters and offi...,17/02/2018,The Avenue UNKNOWN,The Avenue,UNKNOWN,Waltham Forest
8,9,21 firefighters attended the scene,05/04/2018,Kingston upon Thames,Four fire engines and 21 firefighters and offi...,05/04/2018,Galsworthy Road New Malden,Galsworthy Road,New Malden,New Malden
9,10,21 firefighters attended the scene,05/04/2018,Lambeth,Four fire engines and 21 firefighters and offi...,05/04/2018,Larkhall Lane Brixton,Larkhall Lane,Brixton,Brixton
10,11,25 firefighters at the scene,13/08/2018,Camden,Four fire engines and 25 firefighters and offi...,13/08/2018,UNKNOWN Islington,UNKNOWN,Islington,Islington
11,12,300 people left the building before the arriva...,11/07/2018,Westminster,Four fire engines and 21 firefighters and offi...,11/07/2018,Belgrave Road Brixton,Belgrave Road,Brixton,Brixton
12,13,35 firefighters tackle Coulsdon flat blaze,03/12/2016,Croydon,Six fire engines and 35 firefighters and offic...,03/12/2016,UNKNOWN Purley,UNKNOWN,Purley,Purley
13,14,"4,000 evacuated from Science Museum",15/02/2017,Kensington and Chelsea,Three fire engines and around 15 firefighters ...,15/02/2017,Exhibition Road Battersea,Exhibition Road,Battersea,Battersea
14,15,70 firefighters tackle Chiswick office blaze,17/01/2016,Ealing,Ten fire engines and over 70 firefighters and ...,17/01/2016,UNKNOWN Southall,UNKNOWN,Southall,Southall
15,16,70 firefighters tackle blaze in Tottenham indu...,02/04/2016,Haringey,Ten fire engines and 72 firefighters and offic...,02/04/2016,West Road Holloway,West Road,Holloway,Holloway
16,17,72 firefighters and officers attend fire on bu...,17/02/2018,Westminster,Ten fire engines and 72 firefighters and offic...,17/02/2018,Portland Street Islington,Portland Street,Islington,Islington
17,18,999 Control officers give fire survival guidan...,16/01/2018,Tower Hamlets,The Brigadeâ€™s 999 Control Officers gave vita...,16/01/2018,UNKNOWN Bethnal Green,UNKNOWN,Bethnal Green,Bethnal Green
18,19,A 17th floor flat was destroyed in the fire,16/04/2018,Newham,Eight fire engines and 58 firefighters and off...,16/04/2018,UNKNOWN Bethnal Green,UNKNOWN,Bethnal Green,Bethnal Green
19,20,A Romford man had a lucky escape from a flat f...,08/06/2017,Havering,A Romford man had a lucky escape from a flat f...,08/06/2017,UNKNOWN Dagenham,UNKNOWN,Dagenham,Dagenham
20,21,A balcony was destroyed by the fire,27/06/2018,Wandsworth,TenÂ fire engines and 72 firefighters and offi...,27/06/2018,Queenstown Road Brixton,Queenstown Road,Brixton,Brixton
21,22,A cigarette ignited the floorboards,09/08/2018,Waltham Forest,Firefighters have issued a smoking safety remi...,09/08/2018,Hall Road UNKNOWN,Hall Road,UNKNOWN,Waltham Forest
22,23,A cupboard on the tenth floor was destroyed by...,10/05/2018,Tower Hamlets,Five fire engines and 31 firefighter and offic...,10/05/2018,Navigation Road Stratford,Navigation Road,Stratford,Stratford
23,24,A family had a lucky escape after a fire broke...,17/11/2017,Hillingdon,A family had a lucky escape after a fire broke...,17/11/2017,Lodge Avenue Feltham,Lodge Avenue,Feltham,Feltham
24,25,A family had a lucky escape from a chip pan fi...,17/01/2018,Enfield,A family had a lucky escape from a chip pan fi...,17/01/2018,Monmouth Road Edmonton,Monmouth Road,Edmonton,Edmonton
25,26,A fascia board was destroyed by fire,20/05/2018,Bexley,Four fire engines and 21 firefighters and offi...,20/05/2018,Blackfen Road UNKNOWN,Blackfen Road,UNKNOWN,Bexley
26,27,A fifth floor flat was damaged by fire,25/04/2018,Bromley,Four fire engines and 21 firefighters and offi...,25/04/2018,UNKNOWN Beckenham,UNKNOWN,Beckenham,Beckenham
27,28,A fire broke out on an industrial estate on th...,20/01/2018,Brent,A fire broke out on an industrial estate on th...,20/01/2018,UNKNOWN UNKNOWN,UNKNOWN,UNKNOWN,Brent
28,29,A first floor flat was damaged by the fire,01/05/2018,Newham,Four fire engines and 21 firefighters and offi...,01/05/2018,Gainsborough Avenue Stratford,Gainsborough Avenue,Stratford,Stratford
29,30,A first floor flat was damaged by the fire,14/09/2018,Redbridge,Six fire engines and around 40 firefighters we...,14/09/2018,Eastern Avenue UNKNOWN,Eastern Avenue,UNKNOWN,Redbridge

In [21]:
df['Address'] = df['Text'].apply(anlun_address)

In [22]:
df['Address'] = df['Address'].map(lambda x: x[:-7]+ if (x.split()[-1] == 'UNKNOWN'))

,IncidentID,Caption,Date,Location,Text,Time,Address
0,1,100 firefighters tackled Welling pub fire,31/08/2015,Westminster,Over 97 firefighters and officers tackled a fi...,31/08/2015,Bellegrove Road Bexley
1,2,12 fire engines tackle Southwark apartment blo...,07/02/2017,Southwark,Twelve fire engines and 81 firefighters and of...,07/02/2017,Guildford Street Brixton
2,3,12 people evacuate flat fire in Bermondsey,25/11/2015,Southwark,Twelve people escaped uninjured from a fire at...,25/11/2015,Grange Road UNKNOWN
3,4,120 firefighters tackle Tottenham warehouse blaze,06/11/2015,Tower Hamlets,Twenty fire engines and aroundÂ 120 firefighte...,06/11/2015,Pretoria Road Edmonton
4,5,20 fire engines and 120 firefighters attended ...,06/06/2018,Westminster,TwentyÂ fire engines and 120 firefighters and ...,06/06/2018,UNKNOWN Battersea
5,6,20 firefighters tackled a house fire in Romford,29/05/2018,Havering,Four fire engines and 21 firefighters and offi...,29/05/2018,Dagenham Road Hornchurch
6,7,200 people evacuate from fire at Southwark hal...,15/11/2015,Southwark,Two hundred people safely evacuated from a stu...,15/11/2015,Stamford Street UNKNOWN
7,8,21 firefighters and officers fight fast food fire,17/02/2018,Waltham Forest,Four fire engines and 21 firefighters and offi...,17/02/2018,The Avenue UNKNOWN
8,9,21 firefighters attended the scene,05/04/2018,Kingston upon Thames,Four fire engines and 21 firefighters and offi...,05/04/2018,Galsworthy Road New Malden
9,10,21 firefighters attended the scene,05/04/2018,Lambeth,Four fire engines and 21 firefighters and offi...,05/04/2018,Larkhall Lane Brixton
10,11,25 firefighters at the scene,13/08/2018,Camden,Four fire engines and 25 firefighters and offi...,13/08/2018,UNKNOWN Islington
11,12,300 people left the building before the arriva...,11/07/2018,Westminster,Four fire engines and 21 firefighters and offi...,11/07/2018,Belgrave Road Brixton
12,13,35 firefighters tackle Coulsdon flat blaze,03/12/2016,Croydon,Six fire engines and 35 firefighters and offic...,03/12/2016,UNKNOWN Purley
13,14,"4,000 evacuated from Science Museum",15/02/2017,Kensington and Chelsea,Three fire engines and around 15 firefighters ...,15/02/2017,Exhibition Road Battersea
14,15,70 firefighters tackle Chiswick office blaze,17/01/2016,Ealing,Ten fire engines and over 70 firefighters and ...,17/01/2016,UNKNOWN Southall
15,16,70 firefighters tackle blaze in Tottenham indu...,02/04/2016,Haringey,Ten fire engines and 72 firefighters and offic...,02/04/2016,West Road Holloway
16,17,72 firefighters and officers attend fire on bu...,17/02/2018,Westminster,Ten fire engines and 72 firefighters and offic...,17/02/2018,Portland Street Islington
17,18,999 Control officers give fire survival guidan...,16/01/2018,Tower Hamlets,The Brigadeâ€™s 999 Control Officers gave vita...,16/01/2018,UNKNOWN Bethnal Green
18,19,A 17th floor flat was destroyed in the fire,16/04/2018,Newham,Eight fire engines and 58 firefighters and off...,16/04/2018,UNKNOWN Bethnal Green
19,20,A Romford man had a lucky escape from a flat f...,08/06/2017,Havering,A Romford man had a lucky escape from a flat f...,08/06/2017,UNKNOWN Dagenham
20,21,A balcony was destroyed by the fire,27/06/2018,Wandsworth,TenÂ fire engines and 72 firefighters and offi...,27/06/2018,Queenstown Road Brixton
21,22,A cigarette ignited the floorboards,09/08/2018,Waltham Forest,Firefighters have issued a smoking safety remi...,09/08/2018,Hall Road UNKNOWN
22,23,A cupboard on the tenth floor was destroyed by...,10/05/2018,Tower Hamlets,Five fire engines and 31 firefighter and offic...,10/05/2018,Navigation Road Stratford
23,24,A family had a lucky escape after a fire broke...,17/11/2017,Hillingdon,A family had a lucky escape after a fire broke...,17/11/2017,Lodge Avenue Feltham
24,25,A family had a lucky escape from a chip pan fi...,17/01/2018,Enfield,A family had a lucky escape from a chip pan fi...,17/01/2018,Monmouth Road Edmonton
25,26,A fascia board was destroyed by fire,20/05/2018,Bexley,Four fire engines and 21 firefighters and offi...,20/05/2018,Blackfen Road UNKNOWN
26,27,A fifth floor flat was damaged by fire,25/04/2018,Bromley,Four fire engines and 21 firefighters and offi...,25/04/2018,UNKNOWN Beckenham
27,28,A fire broke out on an industrial estate on th...,20/01/2018,Brent,A fire broke out on an industrial estate on th...,20/01/2018,UNKNOWN UNKNOWN
28,29,A first floor flat was damaged by the fire,01/05/2018,Newham,Four fire engines and 21 firefighters and offi...,01/05/2018,Gainsborough Avenue Stratford
29,30,A first floor flat was damaged by the fire,14/09/2018,Redbridge,Six fire engines and around 40 firefighters we...,14/09/2018,Eastern Avenue UNKNOWN
...,...,...,...,...,...,...,...
1488,1489,Willesden â€“ house fire,02/07/2016,Brent,Four fire engines and 21 firefighters and offi...,02/07/2016,Oak Lane UNKNOWN
1489,1490,Wimbledon - barn conversion hit by fire,01/01/2015,Merton,Six fire engines and around 35 firefighters an...,01/01/2015,Camp Road Mitcham
1490,1491,Wimbledon - house fire,30/12/2015,Merton,Firefighters wearing breathing apparatus tackl...,30/12/2015,Kenley Road New Malden
1491,1492,Wimbledon - maisonette fire,01/10/2015,Merton,A Wimbledon maisonette blaze is believed to be...,01/10/2015,UNKNOWN Battersea
1492,1493,Wimbledon â€“ house fire,14/09/2015,Merton,Firefighters tackled a fire at a house on Lanc...,14/09/2015,Lancaster Road New Malden
1493,1494,Winchmore Hill - fire in derelict building,27/01/2015,Enfield,Four fire engines and around 20 firefighters w...,27/01/2015,Firs Lane Southgate
1494,1495,Woman and two children escape Barking flat fire,13/10/2015,Barking and Dagenham,A woman and two children escaped uninjured fro...,13/10/2015,UNKNOWN Barking
1495,1496,Woman dies in hospital following Earls Court fire,22/01/2018,Hammersmith and Fulham,A woman has died in hospital following a fire ...,22/01/2018,Penywern Road Chelsea
1496,1497,Woman dies in hospital following Wembley garag...,15/01/2016,Brent,A woman rescued from a fire in a garage on Bow...,15/01/2016,Bowrons Avenue UNKNOWN
1497,1498,Woman escapes Orpington house fire,13/09/2015,Bromley,A woman escaped a fire at a house on Crowhurst...,13/09/2015,Crowhurst Way Orpington
1498,1499,Woman rescued from Plaistow house fire,07/02/2016,Newham,Firefighters wearing breathing apparatus rescu...,07/02/2016,Barking Road Stratford
1499,1500,Woman rescued from Queens Park flat fire,03/12/2016,Brent,Firefighters rescued a woman from a flat fire ...,03/12/2016,Ilbert Street UNKNOWN
1500,1501,Woman rescued from Stoke Newington flat fire,13/01/2016,Hackney,Firefighters wearing breathing apparatus rescu...,13/01/2016,UNKNOWN Grove
1501,1502,Woman rescued from Tottenham flat fire,27/11/2015,Haringey,Fire crews wearing breathing apparatus rescued...,27/11/2015,Shelbourne Road UNKNOWN
1502,1503,Woman rescued from West Beckton maisonette fire,02/07/2016,Newham,Firefighters rescued a woman from a maisonette...,02/07/2016,Ripley Road Barking
1503,1504,Woman rescued from first floor flat,18/02/2018,Kensington and Chelsea,Two fire engines and 10 firefighters and offic...,18/02/2018,UNKNOWN Chelsea
1504,1505,Woman sadly dies in hospital following Walling...,18/12/2016,Sutton,A woman rescued by breathing apparatus crews f...,18/12/2016,UNKNOWN Sutton
1505,1506,Woman treated for smoke inhalation,21/07/2018,Greenwich,AÂ fire broke out in a maisonette on Perrott S...,21/07/2018,Perrott Street Bexley
1506,1507,Wood Green â€“ candle fire,02/09/2015,Haringey,The Brigade said it believes a fire in a Wood ...,02/09/2015,Granville Road Southgate
1507,1508,Wood Green â€“ cannabis factory fire,22/12/2016,Haringey,Six fire engines and thirty five firefighters ...,22/12/2016,Durnsford Road Southgate
1508,1509,Wood Lane â€“ flat fire,24/01/2017,Barking and Dagenham,Four fire engines and 21 firefighters and offi...,24/01/2017,Wood Lane UNKNOWN
1509,1510,Woodford Green - fire in a shop,30/08/2016,Redbridge,Four fire engines and 21 firefighters and offi...,30/08/2016,Chigwell Road Woodford Green
1510,1511,Woodford Green - flat fire,30/10/2015,Redbridge,Four fire engines and 21 firefighters and offi...,30/10/2015,UNKNOWN Woodford Green
1511,1512,Woodford Green â€“ shop fire,09/01/2015,Redbridge,Four fire engines and around 20 firefighters t...,09/01/2015,High Road Essex
1512,1513,Woolwich - community centre fire,13/11/2015,Newham,Fifteen adults and 25 children safely evacuate...,13/11/2015,Brookhill Road UNKNOWN
1513,1514,Woolwich - flat fire,28/01/2017,Greenwich,Four fire engines and 21 firefighters and offi...,28/01/2017,UNKNOWN UNKNOWN
1514,1515,fire in Chingford flat,20/04/2018,Waltham Forest,Over 70Â firefighters and officers were called...,20/04/2018,UNKNOWN Enfield
1515,1516,loft and first floor damaged by fire,08/07/2018,Enfield,Six fire engines and 35 firefighters and offic...,08/07/2018,UNKNOWN Southgate
1516,1517,â€˜Beauty blazeâ€™ at student halls of residence,22/09/2016,Southwark,More than 200 students had to evacuate their c...,22/09/2016,Dover Street London
1517,1518,"â€œThis is an unprecedented situation, with a ...",14/06/2017,Kensington and Chelsea,"â€œThis is an unprecedented situation, with a ...",14/06/2017,UNKNOWN UNKNOWN