In [1]:
import pandas as pd

pd.options.display.max_columns= 100
pd.options.display.max_rows= 1000

# Exploration

In [177]:
fleet = pd.read_csv('data/fleet_reg.csv')
portlog = pd.read_excel('data/portlog.xlsx')
vsl_pos = pd.read_csv('data/vsl_pos_170101_170531.csv')
bci = pd.read_csv('data/bci_170101_170531.csv')

In [3]:
fleet.head()

,imo,fairplay_id,mmsi,name,built,cancel_date,ship_class,build_country,dwt,delivery_date,est_completion_date,group_owner,last_update,launch_date,newbuilding_px,operator,order_date,registered_owner,sale_date,sale_px,service_speed,ship_type,ship_type_group,shipbuilder,shipmanager,subcontractor,subcontractor_yard_no,yard_no,year,status,broken_up,min_draft,max_draft,created_at,updated_at,draft,geared,vessel_class
0,9184902,11903,356796000.0,DAIO DISCOVERY,1998-05-31,NaN,NK,JP,50029,1998-05-31,NaN,Misuga Kaiun Co Ltd,2017-04-12,1998-03-31,22989000.0,Misuga Kaiun Co Ltd,1997-12-31,Ikawa Shoko Co Ltd,NaN,NaN,14.3,Wood Chips Carrier,Bulk Carrier-Supra/Ultramax,Imabari Shbldg - Marugame,Misuga Kaiun Co Ltd,NaN,NaN,1293,1998.0,In Service/Commission,NaN,6.4,12.7,2018-03-06 16:13:21.000000,2018-03-06 16:13:21.000000,11.54,1,Bulker
1,9142019,44431,356788000.0,FOREST KISHU,1996-08-31,NaN,NK,JP,50052,1996-08-31,NaN,Mitsubishi Ore Transport Co,2017-04-24,1996-07-31,NaN,Mitsubishi Ore Transport Co,1995-12-31,Flor de Vapores SA,NaN,NaN,14.3,Wood Chips Carrier,Bulk Carrier-Supra/Ultramax,Imabari Shbldg - Marugame,Mitsubishi Ore Transport Co,NaN,NaN,1263,1996.0,In Service/Commission,NaN,6.4,12.7,2018-03-06 16:15:16.000000,2018-03-06 16:15:16.000000,11.55,1,Bulker
2,9179309,11899,357109000.0,DAIO CREACION,1998-03-31,NaN,NK,JP,50058,1998-03-31,NaN,Mitsui OSK Lines Ltd,2016-10-26,1998-02-28,NaN,Mitsui OSK Lines Ltd,1997-12-31,Cygnet Bulk Carriers SA,NaN,NaN,14.5,Wood Chips Carrier,Bulk Carrier-Supra/Ultramax,Imabari Shbldg - Marugame,MMS Co Ltd,NaN,NaN,1292,1998.0,Broken Up,2016-01-31,6.4,12.7,2018-03-06 16:14:41.000000,2018-03-06 16:14:41.000000,11.55,1,Bulker
3,5266673,99411,NaN,CAROL SUCCESS,1961-11-30,NaN,AB,JP,50074,1960-11-30,NaN,Unknown,2009-10-28,1960-09-30,NaN,Unknown,1959-12-31,Owner Unknown,NaN,NaN,0.0,Ore/Oil Carrier,Bulk Carrier-Supra/Ultramax,Kawasaki Dockyard - Kobe,Unknown,NaN,NaN,1002,1961.0,Broken Up,1979-04-30,6.4,12.7,2018-03-06 16:11:19.000000,2018-03-06 16:11:19.000000,0.00,1,Bulker
4,9228459,66930,355599000.0,YAN DUN JIAO 1,2001-07-31,NaN,NK,JP,50077,2001-07-31,NaN,Unknown,2017-04-06,2001-05-31,NaN,Fortune International Ship,2000-12-31,Rongcheng Yandunjiao Marine Co,2016-08-31,4400000.0,14.5,Bulk Carrier,Bulk Carrier-Supra/Ultramax,Mitsui Chiba Ichihara,Fortune International Ship,NaN,NaN,1525,2001.0,In Service/Commission,NaN,6.4,12.7,2018-03-06 16:13:25.000000,2018-03-06 16:13:25.000000,11.93,1,Bulker

In [4]:
fleet.shape

(10775, 38)

In [5]:
len(fleet['imo'].unique())

10775

In [6]:
vsl_pos.head()

,imo,date,lat,lon,speed,draft,eta,destination,status
0,9575204,2017-01-01 00:02:29.000000,-36.0649,21.5459,10.4277,13.3,2016-11-01 12:00:00.000000,COLOMBO,Under way using engine
1,9245237,2017-01-01 00:03:29.000000,-4.4182,113.9927,10.4277,6.7,2017-01-01 20:00:00.000000,ASAM2,Under way using engine
2,9282871,2017-01-01 00:03:29.000000,33.2693,131.7605,0.0000,8.3,2016-12-28 21:00:00.000000,JP OIT,Anchored
3,9476290,2017-01-01 00:05:29.000000,34.6018,135.3189,0.0000,7.2,2016-12-30 23:00:00.000000,JP OSA OFF,Anchored
4,9316804,2017-01-01 00:06:24.000000,37.1442,2.5594,13.0346,8.7,2017-01-01 15:00:00.000000,ORAN_ALGERIA,Under way using engine

In [7]:
vsl_pos.status.unique()

array(['Under way using engine', 'Anchored', 'Moored',
       'Not under command', 'Constrained by draught', nan,
       'Under way sailing', 'Aground', 'Restricted maneuverability',
       'Engaged in fishing'], dtype=object)

In [8]:
portlog.head()

,name,latmin,latmax,longmin,longmax,porttype,commodity,country
0,AbbotPoint,-19.90,-19.80,148.00,148.2,L,CO,AU
1,Brisbane,-27.50,-27.20,152.90,153.4,L,CO,AU
2,ItaguaiGuaiba,-23.10,-22.80,-44.10,-43.6,L,IO,BR
3,DrummondProdeco,11.03,11.12,-74.30,-74.1,NaN,NaN,NaN
4,Yuzhny,46.50,46.75,30.75,31.1,L,CO,RU

In [9]:
portlog.loc[portlog.country == 'BR']

,name,latmin,latmax,longmin,longmax,porttype,commodity,country
2,ItaguaiGuaiba,-23.10,-22.80,-44.10,-43.60,L,IO,BR
16,Tubarao,-20.40,-19.67,-40.64,-39.64,L,IO,BR
17,PontaDaMadeira,-2.83,-1.83,-44.72,-43.72,L,IO,BR
18,PontaUbu,-20.97,-20.70,-40.84,-39.84,L,IO,BR
19,PortoAcu,-22.00,-21.00,-41.50,-40.50,L,IO,BR

# 1. Iron into Brazil
Jan-May 2017 (Dates are already limited Jan - May)

dwt > 60,000

Ponta da Madeira, Tubarao, Ponta Ubu, Porto Acu, ItaguaiGuaiba

## Total Iron Ore exported = 175,583,940
working below

### Caveats
* Only regestering ports in the portlog. Seem to be a lot missing. e.g. Durban lat long (-29.8697	31.0324	)
    * More of a problem for Q2

* If a ship docked and left in less than 24 hours this would be missed

* Assumes journey data always appears chronologically (seems to be the case)

In [10]:
max_dwt = 60000
port_list = ['PontaDaMadeira', 'Tubarao', 'PontaUbu', 'PortoAcu', 'ItaguaiGuaiba']

In [11]:
large_fleet = fleet.loc[fleet.dwt > max_dwt]['imo']

In [13]:
vsl_pos_lf = vsl_pos.loc[vsl_pos['imo'].isin(large_fleet)]

In [14]:
vsl_pos_ports = vsl_pos_lf

In [15]:
vsl_pos_ports['port'] = ''

/home/tom/app/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
for port in range(0,len(portlog)):
    vsl_pos_ports.loc[(vsl_pos_ports.lat > portlog.iloc[port].latmin)
            & (vsl_pos_ports.lat < portlog.iloc[port].latmax)
            & (vsl_pos_ports.lon > portlog.iloc[port].longmin)
            & (vsl_pos_ports.lon < portlog.iloc[port].longmax), 'port'] = portlog.iloc[port]['name']

/home/tom/app/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [17]:
vsl_pos_ports.head()

,imo,date,lat,lon,speed,draft,eta,destination,status,port
0,9575204,2017-01-01 00:02:29.000000,-36.0649,21.5459,10.4277,13.3,2016-11-01 12:00:00.000000,COLOMBO,Under way using engine,
5,9426013,2017-01-01 00:08:29.000000,54.5317,18.5383,0.0000,7.8,2016-12-25 03:00:00.000000,GDYNIA POLAND,Moored,
6,9775854,2017-01-01 00:09:29.000000,-35.5808,133.0722,12.1657,7.1,2017-01-02 09:00:00.000000,AU ADL,Under way using engine,
7,9592068,2017-01-01 00:09:29.000000,21.0214,38.8526,11.2967,7.4,2017-01-16 00:00:00.000000,DURBAN,Under way using engine,
8,9633159,2017-01-01 00:09:29.000000,-22.4126,154.0469,13.9036,8.8,2017-01-02 21:00:00.000000,AU_NTL,Under way using engine,

In [18]:
#Should all be in Tubarao
vsl_pos_ports.loc[
    (vsl_pos_ports.lat > -20.4) &
    (vsl_pos_ports.lat < -19.67) &
    (vsl_pos_ports.lon > -40.64) &
    (vsl_pos_ports.lon < -39.64)].head()

,imo,date,lat,lon,speed,draft,eta,destination,status,port
317,9457012,2017-01-01 00:09:29.000000,-20.3783,-40.2034,0.0,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
453,9457012,2017-01-01 23:54:50.000000,-20.3780,-40.2038,0.0,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
474,9457012,2017-01-02 00:10:28.000000,-20.3780,-40.2039,0.0,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
798,9457012,2017-01-02 23:55:50.000000,-20.3781,-40.2036,0.0,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
805,9457012,2017-01-03 00:08:23.000000,-20.3782,-40.2035,0.0,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao

In [19]:
#Can see journies
vsl_pos_ports.loc[vsl_pos_ports['imo']==9457012]

,imo,date,lat,lon,speed,draft,eta,destination,status,port
317,9457012,2017-01-01 00:09:29.000000,-20.3783,-40.2034,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
453,9457012,2017-01-01 23:54:50.000000,-20.3780,-40.2038,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
474,9457012,2017-01-02 00:10:28.000000,-20.3780,-40.2039,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
798,9457012,2017-01-02 23:55:50.000000,-20.3781,-40.2036,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
805,9457012,2017-01-03 00:08:23.000000,-20.3782,-40.2035,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
2205,9457012,2017-01-03 23:54:51.000000,-20.3782,-40.2034,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
8454,9457012,2017-01-04 00:10:30.000000,-20.3784,-40.2030,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
13447,9457012,2017-01-04 23:54:54.000000,-20.3783,-40.2034,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
13477,9457012,2017-01-05 00:10:35.000000,-20.3784,-40.2032,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
24284,9457012,2017-01-05 23:54:49.000000,-20.3783,-40.2035,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
24302,9457012,2017-01-06 00:07:30.000000,-20.3784,-40.2032,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
29650,9457012,2017-01-06 23:51:49.000000,-20.3782,-40.2037,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
36591,9457012,2017-01-07 00:07:36.000000,-20.3782,-40.2036,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
42555,9457012,2017-01-07 23:54:49.000000,-20.3782,-40.2037,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
42798,9457012,2017-01-08 00:10:34.000000,-20.3782,-40.2036,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
62398,9457012,2017-01-08 23:54:49.000000,-20.3778,-40.2041,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
62644,9457012,2017-01-09 00:10:31.000000,-20.3779,-40.2041,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
68998,9457012,2017-01-09 23:54:53.000000,-20.3780,-40.2041,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
73279,9457012,2017-01-10 00:10:31.000000,-20.3780,-40.2040,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
78548,9457012,2017-01-10 23:54:52.000000,-20.3780,-40.2040,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
85136,9457012,2017-01-11 00:10:37.000000,-20.3780,-40.2040,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
89794,9457012,2017-01-11 23:54:51.000000,-20.3781,-40.2039,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
89829,9457012,2017-01-12 00:10:31.000000,-20.3779,-40.2040,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
102297,9457012,2017-01-12 23:54:53.000000,-20.3781,-40.2039,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
102326,9457012,2017-01-13 00:10:41.000000,-20.3780,-40.2036,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
114565,9457012,2017-01-13 23:55:50.000000,-20.3785,-40.2028,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
114597,9457012,2017-01-14 00:11:30.000000,-20.3785,-40.2029,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
120274,9457012,2017-01-14 23:55:50.000000,-20.3782,-40.2036,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
128164,9457012,2017-01-15 00:11:28.000000,-20.3783,-40.2035,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
133515,9457012,2017-01-15 23:55:50.000000,-20.2973,-40.2364,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
140100,9457012,2017-01-16 00:11:44.000000,-20.2973,-40.2364,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
152004,9457012,2017-01-16 23:55:49.000000,-20.2973,-40.2363,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
152252,9457012,2017-01-17 00:11:28.000000,-20.2973,-40.2362,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
162575,9457012,2017-01-17 23:55:50.000000,-20.2973,-40.2363,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
162827,9457012,2017-01-18 00:11:38.000000,-20.2973,-40.2362,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
172115,9457012,2017-01-18 23:55:50.000000,-20.2973,-40.2363,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
173733,9457012,2017-01-19 00:11:35.000000,-20.2973,-40.2362,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
173805,9457012,2017-01-19 23:55:51.000000,-20.2973,-40.2363,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
180729,9457012,2017-01-20 00:11:24.000000,-20.2972,-40.2362,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
191542,9457012,2017-01-20 23:55:50.000000,-20.2973,-40.2362,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
191569,9457012,2017-01-21 00:11:20.000000,-20.2973,-40.2361,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
198253,9457012,2017-01-21 23:55:48.000000,-20.2973,-40.2362,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
203833,9457012,2017-01-22 00:11:19.000000,-20.2973,-40.2362,0.000000,17.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Moored,Tubarao
204799,9457012,2017-01-22 23:53:48.000000,-20.3775,-40.1824,0.000000,9.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
204821,9457012,2017-01-23 00:09:20.000000,-20.3778,-40.1823,0.000000,9.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
212134,9457012,2017-01-23 23:53:49.000000,-20.3790,-40.1810,0.000000,9.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
217363,9457012,2017-01-24 00:09:19.000000,-20.3790,-40.1810,0.000000,9.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
222992,9457012,2017-01-24 23:53:49.000000,-20.3787,-40.1819,0.000000,9.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
229564,9457012,2017-01-25 00:09:25.000000,-20.3788,-40.1816,0.000000,9.0,2016-12-25 17:00:00.000000,PRAIA MOLE,Anchored,Tubarao
235167,9457012,2017-01-25 23:10:39.000000,-21.9696,-40.4396,13.034600,9.0,2017-01-26 17:30:00.000000,ITAGUAI,Under way using engine,
235197,9457012,2017-01-26 00:00:23.000000,-22.0965,-40.5822,13.034600,9.0,2017-01-26 17:30:00.000000,ITAGUAI,Under way using engine,
249747,9457012,2017-01-26 23:54:02.000000,-23.1895,-43.9938,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,
249993,9457012,2017-01-27 00:06:30.000000,-23.1895,-43.9937,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,
256949,9457012,2017-01-27 23:50:47.000000,-23.1903,-43.9906,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,
260829,9457012,2017-01-28 00:09:21.000000,-23.1900,-43.9907,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,
264505,9457012,2017-01-28 23:53:49.000000,-23.1922,-43.9904,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,
264536,9457012,2017-01-29 00:09:29.000000,-23.1924,-43.9910,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,
275739,9457012,2017-01-29 23:51:48.000000,-22.9645,-43.9385,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,ItaguaiGuaiba
275763,9457012,2017-01-30 00:21:50.000000,-22.9643,-43.9386,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,ItaguaiGuaiba
287577,9457012,2017-01-30 23:51:46.000000,-22.9642,-43.9386,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,ItaguaiGuaiba
295818,9457012,2017-01-31 00:10:23.000000,-22.9640,-43.9385,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Anchored,ItaguaiGuaiba
296556,9457012,2017-01-31 23:49:47.000000,-22.9365,-43.8285,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Moored,ItaguaiGuaiba
305395,9457012,2017-02-01 00:11:25.000000,-22.9365,-43.8284,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Moored,ItaguaiGuaiba
309678,9457012,2017-02-01 23:46:49.000000,-22.9365,-43.8284,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Moored,ItaguaiGuaiba
309703,9457012,2017-02-02 00:02:22.000000,-22.9364,-43.8284,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Moored,ItaguaiGuaiba
316152,9457012,2017-02-02 23:54:48.000000,-22.9365,-43.8284,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Moored,ItaguaiGuaiba
320533,9457012,2017-02-03 00:07:26.000000,-22.9365,-43.8285,0.000000,8.6,2017-01-26 17:30:00.000000,ITAGUAI,Moored,ItaguaiGuaiba
324834,9457012,2017-02-03 23:26:51.000000,-23.8688,-42.0473,10.427700,17.8,2017-03-05 12:00:00.000000,SINGAPORE,Under way using engine,
329438,9457012,2017-02-04 00:06:23.000000,-23.8932,-41.9383,9.558740,17.8,2017-03-05 12:00:00.000000,SINGAPORE,Under way using engine,
335000,9457012,2017-02-04 23:58:23.000000,-25.7291,-37.4565,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
342607,9457012,2017-02-05 01:07:23.000000,-25.8540,-37.2314,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
342861,9457012,2017-02-05 23:03:29.000000,-28.0579,-33.1034,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
343570,9457012,2017-02-06 00:07:26.000000,-28.1596,-32.9106,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
349508,9457012,2017-02-06 23:10:25.000000,-30.4376,-28.2025,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
350400,9457012,2017-02-07 00:10:23.000000,-30.5239,-27.9948,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
363309,9457012,2017-02-07 23:59:25.000000,-32.6334,-22.9141,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
363573,9457012,2017-02-08 01:08:30.000000,-32.7323,-22.6735,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
368183,9457012,2017-02-08 23:51:26.000000,-34.5393,-17.6559,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
373560,9457012,2017-02-09 01:10:29.000000,-34.6266,-17.3744,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
374491,9457012,2017-02-09 22:59:30.000000,-36.1592,-12.3494,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
374528,9457012,2017-02-10 00:00:27.000000,-36.2295,-12.1259,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
384653,9457012,2017-02-10 23:03:27.000000,-37.4914,-6.9653,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
390686,9457012,2017-02-11 00:04:30.000000,-37.5341,-6.7369,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
396535,9457012,2017-02-11 23:07:28.000000,-38.6328,-1.3333,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
400532,9457012,2017-02-12 00:08:27.000000,-38.6834,-1.0970,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
408721,9457012,2017-02-12 23:08:28.000000,-39.4141,4.7092,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
413748,9457012,2017-02-13 00:07:27.000000,-39.4446,4.9475,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
416018,9457012,2017-02-13 23:06:27.000000,-39.9995,10.6215,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
417357,9457012,2017-02-14 00:04:35.000000,-39.9997,10.8552,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
423228,9457012,2017-02-14 23:05:34.000000,-39.9936,16.5496,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
423487,9457012,2017-02-15 00:01:29.000000,-39.9974,16.7646,10.427700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
430168,9457012,2017-02-15 23:04:32.000000,-39.3777,22.5172,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
430437,9457012,2017-02-16 00:09:01.000000,-39.3135,22.7822,12.165700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
442313,9457012,2017-02-16 23:11:27.000000,-38.0339,27.8749,10.427700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
442355,9457012,2017-02-17 00:07:35.000000,-37.9792,28.0740,10.427700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
449932,9457012,2017-02-17 23:11:37.000000,-36.4061,33.0950,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
455853,9457012,2017-02-18 00:10:38.000000,-36.3320,33.3021,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
462338,9457012,2017-02-18 23:11:36.000000,-34.6048,38.1085,10.427700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
466672,9457012,2017-02-19 00:06:41.000000,-34.5385,38.2978,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
480482,9457012,2017-02-19 23:56:30.000000,-32.4706,43.0654,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
480528,9457012,2017-02-20 01:08:31.000000,-32.3614,43.3012,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
486726,9457012,2017-02-20 23:54:33.000000,-30.4040,47.3662,10.427700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
491705,9457012,2017-02-21 01:11:34.000000,-30.2944,47.5916,10.427700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
496603,9457012,2017-02-21 23:52:44.000000,-28.1011,51.7044,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
502534,9457012,2017-02-22 01:08:33.000000,-27.9706,51.9209,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
515094,9457012,2017-02-22 23:46:31.000000,-25.6620,55.7125,10.427700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
521992,9457012,2017-02-23 01:08:33.000000,-25.5282,55.9405,10.427700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
522015,9457012,2017-02-23 22:51:34.000000,-23.1456,59.7739,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
531900,9457012,2017-02-24 00:08:40.000000,-23.0107,59.9900,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
538860,9457012,2017-02-24 23:00:34.000000,-20.3480,63.6445,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
543749,9457012,2017-02-25 00:04:39.000000,-20.2218,63.8086,11.296700,17.8,2017-03-07 12:00:00.000000,SINGAPORE,Under way using engine,
549429,9457012,2017-02-25 23:09:36.000000,-17.4671,67.5367,12.165700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
550651,9457012,2017-02-26 00:01:37.000000,-17.3611,67.6745,11.296700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
551952,9457012,2017-02-26 22:48:33.000000,-14.5777,71.2470,11.296700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
551997,9457012,2017-02-27 00:03:01.000000,-14.4249,71.4253,11.296700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
571125,9457012,2017-02-27 23:52:42.000000,-11.5069,74.8916,11.296700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
578339,9457012,2017-02-28 00:50:41.000000,-11.3869,75.0309,11.296700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
584003,9457012,2017-02-28 23:55:45.000000,-8.3956,78.5677,13.034600,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
584265,9457012,2017-03-01 00:51:37.000000,-8.2543,78.7286,13.903600,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
585673,9457012,2017-03-01 23:30:38.000000,-4.9614,82.4639,13.034600,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
592294,9457012,2017-03-02 00:48:38.000000,-4.7753,82.6750,13.034600,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
592955,9457012,2017-03-02 23:31:42.000000,-1.6902,86.0937,12.165700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
593203,9457012,2017-03-03 00:00:37.000000,-1.6229,86.1667,12.165700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
603456,9457012,2017-03-03 23:34:37.000000,1.4661,89.5856,13.034600,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
610362,9457012,2017-03-04 02:47:45.000000,1.9465,90.1187,13.034600,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
610376,9457012,2017-03-04 22:38:41.000000,4.5816,93.0718,12.165700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
616345,9457012,2017-03-05 03:42:40.000000,5.2679,93.8307,12.165700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
623203,9457012,2017-03-05 19:56:40.000000,5.8409,96.6186,10.427700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
624874,9457012,2017-03-06 07:25:39.000000,4.8217,98.7237,12.165700,17.8,2017-03-07 22:00:00.000000,SINGAPORE,Under way using engine,
625258,9457012,2017-03-06 23:55:56.000000,2.7243,101.1230,10.427700,18.0,2017-03-07 17:20:00.000000,PEBGB,Constrained by draught,PortKlang
625279,9457012,2017-03-07 00:11:38.000000,2.7027,101.1632,10.427700,18.0,2017-03-07 17:20:00.000000,PEBGB,Constrained by draught,PortKlang
637106,9457012,2017-03-07 23:54:55.000000,1.2677,103.9567,0.000000,18.0,2017-03-07 18:15:00.000000,PEBGB,Anchored,
637135,9457012,2017-03-08 00:10:40.000000,1.2673,103.9569,0.000000,18.0,2017-03-07 18:15:00.000000,PEBGB,Anchored,
640349,9457012,2017-03-08 23:33:57.000000,3.2277,105.4980,11.296700,18.0,2017-03-15 20:00:00.000000,SHANGHAI,Under way using engine,
651568,9457012,2017-03-09 06:31:51.000000,4.3988,106.2759,12.165700,18.0,2017-03-15 20:00:00.000000,SHANGHAI,Under way using engine,
661508,9457012,2017-03-10 15:30:42.000000,9.5283,110.3734,12.165700,18.0,2017-03-15 20:00:00.000000,SHANGHAI,Under way using engine,
698579,9457012,2017-03-13 06:54:42.000000,21.5384,118.3854,13.903600,18.0,2017-03-15 20:00:00.000000,SHANGHAI,NaN,
698805,9457012,2017-03-13 16:27:57.000000,23.6565,119.9218,12.165700,18.0,2017-03-15 20:00:00.000000,SHANGHAI,Under way using engine,Mailiao
703129,9457012,2017-03-14 02:23:55.000000,24.9605,120.4943,8.689760,18.0,2017-03-15 20:00:00.000000,SHANGHAI,Under way using engine,
703133,9457012,2017-03-14 08:30:58.000000,25.7471,121.1473,11.296700,18.0,2017-03-15 20:00:00.000000,SHANGHAI,Under way using engine,
711734,9457012,2017-03-15 13:07:48.000000,30.0408,123.1691,9.558740,18.0,2017-03-15 20:00:00.000000,SHANGHAI,Under way using engine,
711745,9457012,2017-03-15 22:56:45.000000,30.7667,122.5878,0.000000,17.8,2017-03-15 18:00:00.000000,IVHUASHAN,Anchored,Majishanterminal
716392,9457012,2017-03-16 00:08:42.000000,30.7664,122.5875,0.000000,17.8,2017-03-15 18:00:00.000000,IVHUASHAN,Anchored,Majishanterminal
723938,9457012,2017-03-16 23:51:42.000000,30.7867,122.5857,0.000000,17.8,2017-03-15 18:00:00.000000,LVHUASHAN,Anchored,Majishanterminal
732272,9457012,2017-03-17 01:08:42.000000,30.7863,122.5845,0.000000,17.8,2017-03-15 18:00:00.000000,LVHUASHAN,Anchored,Majishanterminal
738775,9457012,2017-03-17 23:58:39.000000,30.7880,122.5868,0.000000,17.8,2017-03-15 18:00:00.000000,LVHUASHAN,Anchored,Majishanterminal
744094,9457012,2017-03-18 01:08:42.000000,30.7938,122.5900,0.000000,17.8,2017-03-15 18:00:00.000000,LVHUASHAN,Under way using engine,Majishanterminal
744834,9457012,2017-03-18 23:56:40.000000,30.8063,122.6255,0.000000,17.8,2017-03-15 18:00:00.000000,LVHUASHAN,Moored,Majishanterminal
751370,9457012,2017-03-19 01:06:44.000000,30.8062,122.6254,0.000000,17.8,2017-03-15 18:00:00.000000,LVHUASHAN,Moored,Majishanterminal
751396,9457012,2017-03-19 22:59:35.000000,31.1599,122.6051,0.000000,18.0,2017-03-15 20:00:00.000000,SHANGHAI,Anchored,
757659,9457012,2017-03-20 00:01:36.000000,31.1592,122.6055,0.000000,12.3,2017-03-20 11:00:00.000000,LUOJING,Anchored,
765335,9457012,2017-03-20 23:53:57.000000,31.4949,121.3862,0.000000,12.3,2017-03-20 11:00:00.000000,LUOJING,Moored,Shanghai

In [111]:
vsl_pos_ports['status'] = ''

/home/tom/app/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [112]:
vsl_pos_ports.head()

,imo,date,lat,lon,speed,draft,eta,destination,status,port
0,9575204,2017-01-01 00:02:29.000000,-36.0649,21.5459,10.4277,13.3,2016-11-01 12:00:00.000000,COLOMBO,,
5,9426013,2017-01-01 00:08:29.000000,54.5317,18.5383,0.0000,7.8,2016-12-25 03:00:00.000000,GDYNIA POLAND,,
6,9775854,2017-01-01 00:09:29.000000,-35.5808,133.0722,12.1657,7.1,2017-01-02 09:00:00.000000,AU ADL,,
7,9592068,2017-01-01 00:09:29.000000,21.0214,38.8526,11.2967,7.4,2017-01-16 00:00:00.000000,DURBAN,,
8,9633159,2017-01-01 00:09:29.000000,-22.4126,154.0469,13.9036,8.8,2017-01-02 21:00:00.000000,AU_NTL,,

In [153]:
#Really slow way of doing this.
#If you want to see the result a csv is available in the Google Drive folder I shared with you.
# 'data/all_large_ship_journies.csv' 
#Maybe use apply but unsure at looking at previous/next rows

all_ship_journies = pd.DataFrame()
for ship in large_fleet:
    ship_journey = vsl_pos_ports.loc[vsl_pos_ports['imo']==ship]
    ship_journey.reset_index(inplace=True)
    status = ''
    for i in range(0,len(ship_journey)):
        try:
            #Flags a ship having left if it arrives and leaves in the same day
            #or if it leaves a port and arrives at another the next day
            if (
                ship_journey['port'][i] != ''
                and ship_journey['port'][i] != ship_journey['port'][i-1]
                and ship_journey['port'][i] != ship_journey['port'][i+1]
                ):
            
                ship_journey['status'][i] = 'left'
                status = ''
        
            #Flags a ship as arriving in a port
            elif (
                ship_journey['port'][i] != ''
                and ship_journey['port'][i] != ship_journey['port'][i-1]
                ):
            
                ship_journey['status'][i] =  'arrived'
                status = 'arrived'
            
            #Flags a ship as leaving a port it it has been for multiple days    
            elif (
                status == 'arrived'
                and ship_journey['port'][i] != ship_journey['port'][i+1]
                ):
            
                ship_journey['status'][i] = 'left'
                status = ''
            else:
                continue
        except KeyError:
            continue
    all_ship_journies = all_ship_journies.append(ship_journey)

/home/tom/app/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/tom/app/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/tom/app/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/tom/app/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [172]:
#persist file to save recreating
all_ship_journies.to_csv('data/all_large_ship_journies.csv', index=False)

In [158]:
#Pull all ships that have left Brazilian ports.
#Left is only the status if they have also arrived in the time period we are interested in
from_brazil = all_ship_journies.loc[
    (all_ship_journies['port'].isin(port_list)) & (all_ship_journies['status'] == 'left')]

In [167]:
#Get dwt for all ships
from_brazil= from_brazil.merge(fleet, how='left', on='imo')

In [169]:
from_brazil.head()

,index,imo,date,lat,lon,speed,draft_x,eta,destination,status_x,port,fairplay_id,mmsi,name,built,cancel_date,ship_class,build_country,dwt,delivery_date,est_completion_date,group_owner,last_update,launch_date,newbuilding_px,operator,order_date,registered_owner,sale_date,sale_px,service_speed,ship_type,ship_type_group,shipbuilder,shipmanager,subcontractor,subcontractor_yard_no,yard_no,year,status_y,broken_up,min_draft,max_draft,created_at,updated_at,draft_y,geared,vessel_class
0,1289451,9681508,2017-04-05 00:10:44.000000,-20.2951,-40.2371,0.0000,9.5,2017-05-04 09:00:00.000000,LOS ANGELES _USA,left,Tubarao,232802,353862000.0,ENDURANCE SW,2015-04-30,NaN,NK,JP,60225,2015-04-30,2015-04-30,Shih Wei Navigation Co Ltd,2017-04-18,2015-01-31,0.0,Shih Wei Navigation Co Ltd,2012-11-30,Endurance Pescadores SA,NaN,NaN,14.5,Bulk Carrier,Bulk Carrier-Supra/Ultramax,Onomichi Dockyard Co Ltd,Shih Wei Navigation Co Ltd,NaN,NaN,702,2015.0,In Service/Commission,NaN,6.8,12.9,2018-03-06 16:16:40.000000,2018-03-06 16:16:40.000000,13.03,1,Bulker
1,840476,9727168,2017-03-13 00:10:47.000000,-2.6779,-44.3590,0.0000,11.4,2017-03-11 23:30:00.000000,ALUMAR,left,PontaDaMadeira,238065,249120000.0,ZANTE,2015-11-30,NaN,RI,JP,60436,2015-11-30,2015-11-30,Eastern Mediterranean Mtme-LIE,2017-05-03,2015-10-31,0.0,Eastern Mediterranean Mtme-LIE,2013-10-31,Sami Shipping Ltd-MTA,NaN,NaN,14.5,Bulk Carrier,Bulk Carrier-Supra/Ultramax,Oshima Shipbuilding Co Ltd,Eastern Mediterranean Mtme-LIE,NaN,NaN,10781,2015.0,In Service/Commission,NaN,6.8,12.9,2018-03-06 16:14:44.000000,2018-03-06 16:14:44.000000,13.04,1,Bulker
2,1052781,9727168,2017-03-31 00:10:45.000000,-2.6780,-44.3590,0.0000,11.3,2017-03-29 18:00:00.000000,ALUMAR,left,PontaDaMadeira,238065,249120000.0,ZANTE,2015-11-30,NaN,RI,JP,60436,2015-11-30,2015-11-30,Eastern Mediterranean Mtme-LIE,2017-05-03,2015-10-31,0.0,Eastern Mediterranean Mtme-LIE,2013-10-31,Sami Shipping Ltd-MTA,NaN,NaN,14.5,Bulk Carrier,Bulk Carrier-Supra/Ultramax,Oshima Shipbuilding Co Ltd,Eastern Mediterranean Mtme-LIE,NaN,NaN,10781,2015.0,In Service/Commission,NaN,6.8,12.9,2018-03-06 16:14:44.000000,2018-03-06 16:14:44.000000,13.04,1,Bulker
3,1236186,9727168,2017-04-14 00:11:04.000000,-2.4302,-44.3470,10.4277,7.4,2017-04-17 19:59:00.000000,JURUTI,left,PontaDaMadeira,238065,249120000.0,ZANTE,2015-11-30,NaN,RI,JP,60436,2015-11-30,2015-11-30,Eastern Mediterranean Mtme-LIE,2017-05-03,2015-10-31,0.0,Eastern Mediterranean Mtme-LIE,2013-10-31,Sami Shipping Ltd-MTA,NaN,NaN,14.5,Bulk Carrier,Bulk Carrier-Supra/Ultramax,Oshima Shipbuilding Co Ltd,Eastern Mediterranean Mtme-LIE,NaN,NaN,10781,2015.0,In Service/Commission,NaN,6.8,12.9,2018-03-06 16:14:44.000000,2018-03-06 16:14:44.000000,13.04,1,Bulker
4,1422539,9727168,2017-04-29 01:21:47.000000,-2.6780,-44.3588,0.0000,11.5,2017-04-27 08:00:00.000000,ALUMAR,left,PontaDaMadeira,238065,249120000.0,ZANTE,2015-11-30,NaN,RI,JP,60436,2015-11-30,2015-11-30,Eastern Mediterranean Mtme-LIE,2017-05-03,2015-10-31,0.0,Eastern Mediterranean Mtme-LIE,2013-10-31,Sami Shipping Ltd-MTA,NaN,NaN,14.5,Bulk Carrier,Bulk Carrier-Supra/Ultramax,Oshima Shipbuilding Co Ltd,Eastern Mediterranean Mtme-LIE,NaN,NaN,10781,2015.0,In Service/Commission,NaN,6.8,12.9,2018-03-06 16:14:44.000000,2018-03-06 16:14:44.000000,13.04,1,Bulker

In [170]:
#Total DWT of all ships with dwt greater 60,000 that arrived and left Brazilian ports between Jan and May 2017
from_brazil['dwt'].sum()

175583940

In [ ]:
175,583,940

In [173]:
port_list

['PontaDaMadeira', 'Tubarao', 'PontaUbu', 'PortoAcu', 'ItaguaiGuaiba']

In [176]:
portlog

,name,latmin,latmax,longmin,longmax,porttype,commodity,country
0,AbbotPoint,-19.900000,-19.800000,148.000000,148.200000,L,CO,AU
1,Brisbane,-27.500000,-27.200000,152.900000,153.400000,L,CO,AU
2,ItaguaiGuaiba,-23.100000,-22.800000,-44.100000,-43.600000,L,IO,BR
3,DrummondProdeco,11.030000,11.120000,-74.300000,-74.100000,NaN,NaN,NaN
4,Yuzhny,46.500000,46.750000,30.750000,31.100000,L,CO,RU
5,PortHedland,-20.680000,-19.680000,117.840000,118.840000,L,IO,AU
6,PortWalcott,-20.700000,-20.500000,117.100000,117.300000,L,IO,AU
7,Dampier,-20.750000,-19.750000,115.930000,116.930000,L,IO,AU
8,Haypoint,-21.660000,-20.660000,148.680000,149.680000,L,CO,AU
9,Gladstone,-23.990000,-22.990000,150.840000,151.840000,L,CO,AU
10,Newcastle,-33.000000,-32.800000,151.700000,151.900000,L,CO,AU
11,Whyalla,-33.530000,-32.530000,137.090000,138.090000,L,IO,AU
12,Esperance,-34.010000,-33.010000,121.030000,122.030000,L,IO,AU
13,Geraldton,-28.960000,-27.960000,113.800000,114.800000,L,IO,AU
14,PortKembla,-34.780000,-33.780000,150.040000,151.040000,L,IO,AU
15,BahrainJetty,25.620000,26.620000,49.870000,50.870000,D,NaN,BA
16,Tubarao,-20.400000,-19.670000,-40.640000,-39.640000,L,IO,BR
17,PontaDaMadeira,-2.830000,-1.830000,-44.720000,-43.720000,L,IO,BR
18,PontaUbu,-20.970000,-20.700000,-40.840000,-39.840000,L,IO,BR
19,PortoAcu,-22.000000,-21.000000,-41.500000,-40.500000,L,IO,BR
20,RobertsBank,48.510000,49.510000,-123.590000,-122.590000,NaN,NaN,CA
21,Vancouver,48.660000,49.660000,-123.570000,-122.570000,NaN,NaN,CA
22,Quebec,46.600000,47.000000,-71.600000,-71.000000,NaN,NaN,CA
23,SeptIsles,49.900000,50.400000,-66.700000,-66.000000,L,IO,CA
24,PointeNoire,49.660000,50.660000,-66.990000,-65.990000,NaN,NaN,CA
25,PortCartier,50.000000,50.050000,-66.850000,-66.750000,NaN,NaN,CA
26,PrinceRupert,53.810000,54.810000,-130.820000,-129.820000,NaN,NaN,CA
27,PontaTotoralilo,-27.000000,-26.000000,-70.990000,-69.990000,D,NaN,CH
28,PuntaArenas,-53.600000,-52.600000,-71.040000,-70.040000,D,NaN,CH
29,Guyacan,-30.080000,-29.080000,-71.720000,-70.720000,D,NaN,CH
30,Huasco,-28.780000,-27.780000,-71.650000,-70.650000,D,NaN,CH
31,Wenzhou,27.030000,28.030000,120.570000,121.570000,D,NaN,CH
32,Kemen,25.730000,26.730000,118.960000,119.960000,D,NaN,CH
33,Beilun,29.060000,30.060000,121.030000,122.030000,D,NaN,CH
34,Taicang,30.840000,31.840000,120.660000,121.660000,D,NaN,CH
35,Nantong,31.510000,32.510000,119.980000,120.980000,D,NaN,CH
36,Guangzhou,22.560000,23.560000,112.760000,113.760000,D,NaN,CH
37,Rugao,31.540000,32.540000,120.110000,121.110000,D,NaN,CH
38,Caofeidian,38.050000,39.050000,117.800000,118.800000,D,NaN,CH
39,Qingdao,35.540000,36.540000,119.690000,120.690000,D,NaN,CH
40,Zhuangyuanao,26.950000,27.950000,120.800000,121.800000,D,NaN,CH
41,Dongjiakou(qdao),35.090000,36.090000,119.270000,120.270000,D,NaN,CH
42,Bayuquan,39.690000,40.690000,121.040000,122.040000,D,NaN,CH
43,Xingang,38.490000,39.490000,117.250000,118.250000,D,NaN,CH
44,Lianyungang,33.940000,34.940000,118.770000,119.770000,D,NaN,CH
45,Zhoushan,29.500000,30.500000,121.560000,122.560000,D,NaN,CH
46,Beilun,29.430000,30.430000,121.390000,122.390000,D,NaN,CH
47,Dandong,39.520000,40.520000,123.700000,124.700000,D,NaN,CH
48,Putian(DongwuFujianport),24.630000,25.630000,119.090000,120.090000,D,NaN,CH
49,Fangcheng,20.930000,21.930000,107.700000,108.700000,D,NaN,CH
50,Liuheng,29.270000,30.270000,121.580000,122.580000,D,NaN,CH
51,Majishanterminal,29.910000,30.910000,121.750000,122.750000,D,NaN,CH
52,Wenzhou,27.030000,28.030000,120.570000,121.570000,D,NaN,CH
53,Zhanjiang,20.610000,21.610000,109.740000,110.740000,D,NaN,CH
54,Ningbo,29.060000,30.060000,121.030000,122.030000,D,NaN,CH
55,Yantai,37.000000,38.000000,120.900000,121.900000,D,NaN,CH
56,Dongjiakou,35.090000,36.090000,119.260000,120.260000,D,NaN,CH
57,Zhuangyuanao,27.390000,28.390000,120.630000,121.630000,D,NaN,CH
58,Gaolan(ZhuhaiXinheGaolanbulkterm),21.060000,22.060000,112.630000,113.630000,D,NaN,CH
59,Dalian,38.050000,39.050000,120.890000,121.890000,D,NaN,CH
60,Shanghai,30.640000,31.640000,120.790000,121.790000,D,NaN,CH
61,Bolivar,12.200000,12.300000,-72.000000,-71.800000,L,CO,CO
62,PuertoNuevo,10.530000,11.530000,-74.630000,-73.630000,L,CO,CO
63,Bakar,44.690000,45.690000,13.820000,14.820000,NaN,NaN,CR
64,Ensted,54.510000,55.510000,8.760000,9.760000,NaN,NaN,DE
65,Stigsnaes(Gulfhavn),54.610000,55.610000,10.650000,11.650000,NaN,NaN,DE
66,CaboRojo(anch),17.400000,18.400000,-72.160000,-71.160000,NaN,NaN,DO
67,ElDekheila,30.570000,31.570000,28.990000,29.990000,NaN,NaN,EG
68,Dunkirk,50.530000,51.530000,1.680000,2.680000,NaN,NaN,FR
69,Fos,42.730000,43.730000,4.050000,5.050000,NaN,NaN,FR
70,Rouen,48.940000,49.940000,0.590000,1.590000,NaN,NaN,FR
71,Poti,41.590000,42.590000,40.890000,41.890000,NaN,NaN,GE
72,Batumi,40.890000,41.890000,40.880000,41.880000,NaN,NaN,GE
73,Supsa,41.510000,42.510000,40.920000,41.920000,NaN,NaN,GE
74,Hamburg-Hansaport,52.810000,53.810000,9.060000,10.060000,NaN,NaN,GE
75,Wilhelmshaven,52.850000,53.850000,7.560000,8.560000,NaN,NaN,GE
76,Dhamra,21.970000,22.970000,86.070000,87.070000,NaN,NaN,IN
77,Krishnapatnam,13.650000,14.650000,80.300000,81.300000,NaN,NaN,IN
78,Navlakhi,22.080000,23.080000,69.770000,70.770000,NaN,NaN,IN
79,Gangavaram,16.870000,17.870000,82.640000,83.640000,NaN,NaN,IN
80,Kandla,22.510000,23.510000,69.630000,70.630000,NaN,NaN,IN
81,Bedi,21.830000,22.830000,71.520000,72.520000,NaN,NaN,IN
82,Mundra,21.930000,22.930000,68.920000,69.920000,NaN,NaN,IN
83,Jaigarh,16.670000,17.670000,72.620000,73.620000,NaN,NaN,IN
84,Hazira/Magdalla,20.580000,21.580000,71.940000,72.940000,NaN,NaN,IN
85,Vizag,16.920000,17.920000,82.730000,83.730000,NaN,NaN,IN
86,Samarinda(M.Berauanchorage),-0.620000,0.380000,116.820000,117.820000,NaN,NaN,IN
87,MuaraAsamAsam(anch),-4.610000,-3.610000,114.620000,115.620000,NaN,NaN,IN
88,"Bunyu(anch),eastKalim",2.800000,3.800000,117.060000,118.060000,NaN,NaN,IN
89,Cigading,-6.500000,-5.500000,105.070000,106.070000,NaN,NaN,IN
90,Tarahan(anch),-5.810000,-4.810000,104.680000,105.680000,NaN,NaN,IN
91,Banjarmasin(taboneaoanch),-3.920000,-2.920000,113.760000,114.760000,NaN,NaN,IN
92,AdangBay(anch),-1.930000,-0.930000,115.880000,116.880000,NaN,NaN,IN
93,MuaraSatui(anch),-4.610000,-3.610000,114.640000,115.640000,NaN,NaN,IN
94,TanjungBaraCoalTerminal(berth),-0.180000,0.820000,116.890000,117.890000,NaN,NaN,IN
95,Tarakan(anch),2.640000,3.640000,116.930000,117.930000,NaN,NaN,IN
96,MuaraPantai(anch),1.590000,2.590000,116.790000,117.790000,NaN,NaN,IN
97,Moneypoint,52.100000,53.100000,-9.910000,-8.910000,NaN,NaN,IR
98,Hadera,NaN,NaN,NaN,NaN,NaN,NaN,IS
99,Ashkelon,NaN,NaN,NaN,NaN,NaN,NaN,IS
100,Taranto,39.750000,40.750000,16.640000,17.640000,NaN,NaN,IT
101,Higashi-Harima(Kakogawa)(KobeSteelKakogawa),33.920000,34.920000,134.010000,135.010000,NaN,NaN,JA
102,Nagoya,34.540000,35.540000,136.020000,137.020000,NaN,NaN,JA
103,Oita,32.660000,33.660000,130.890000,131.890000,NaN,NaN,JA
104,Taean,36.050000,37.050000,125.640000,126.640000,NaN,NaN,KO
105,Younghung,36.640000,37.640000,125.750000,126.750000,NaN,NaN,KO
106,Kwangyangberth4,34.040000,35.040000,126.940000,127.940000,NaN,NaN,KO
107,Pohang,35.570000,36.570000,128.800000,129.800000,NaN,NaN,KO
108,Samcheonpo,34.020000,35.020000,127.550000,128.550000,NaN,NaN,KO
109,Hadong,34.060000,35.060000,126.990000,127.990000,NaN,NaN,KO
110,Dangjin,36.530000,37.530000,125.800000,126.800000,NaN,NaN,KO
111,Pyongtaek-Hyundaisteel,36.560000,37.560000,126.000000,127.000000,NaN,NaN,KO
112,Inchon,36.910000,37.910000,126.010000,127.010000,NaN,NaN,KO
113,Daesan,36.510000,37.510000,125.710000,126.710000,NaN,NaN,KO
114,Kojeong,35.740000,36.740000,125.790000,126.790000,NaN,NaN,KO
115,Kunsan,35.070000,36.070000,125.780000,126.780000,NaN,NaN,KO
116,Mokpo,33.960000,34.960000,125.730000,126.730000,NaN,NaN,KO
117,Yosu,33.850000,34.850000,127.090000,128.090000,NaN,NaN,KO
118,Masan,34.620000,35.620000,127.850000,128.850000,NaN,NaN,KO
119,Jinhae,34.570000,35.570000,127.910000,128.910000,NaN,NaN,KO
120,Busan,34.560000,35.560000,128.540000,129.540000,NaN,NaN,KO
121,Ulsan,34.810000,35.810000,128.720000,129.720000,NaN,NaN,KO
122,Onsan,34.760000,35.760000,128.710000,129.710000,NaN,NaN,KO
123,Donghae,36.790000,37.790000,128.610000,129.610000,NaN,NaN,KO
124,Okke,36.870000,37.870000,128.560000,129.560000,NaN,NaN,KO
125,Lumut,4.135000,4.160000,100.590000,100.630000,NaN,NaN,MA
126,PortKlang,2.500000,3.500000,100.740000,101.740000,NaN,NaN,MA
127,PortLabuan,4.670000,5.670000,114.650000,115.650000,NaN,NaN,MA
128,Nouadhibou,20.600000,21.300000,-17.900000,-16.000000,L,IO,MA
129,LazaroCardenas,17.060000,18.060000,-102.600000,-101.600000,NaN,NaN,ME
130,Beira,-20.010000,-19.010000,34.000000,35.000000,NaN,NaN,MO
131,Nacala,-14.770000,-13.770000,39.900000,40.900000,NaN,NaN,MO
132,Flushing,50.940000,51.940000,3.200000,4.200000,NaN,NaN,NE
133,Ymuiden(Tatasteel),51.970000,52.970000,4.080000,5.080000,NaN,NaN,NE
134,Amsterdam(OBA)-partial,51.910000,52.910000,4.320000,5.320000,NaN,NaN,NE
135,CTEorMaasvlakte,51.430000,52.430000,3.550000,4.550000,NaN,NaN,NE
136,Rotterdam,51.480000,52.480000,4.290000,5.290000,NaN,NaN,NE
137,Narvik,67.750000,68.750000,16.740000,17.740000,NaN,NaN,NO
138,Sohar,23.800000,24.800000,55.870000,56.870000,NaN,NaN,OM
139,SanNicolas,-15.650000,-14.650000,-75.630000,-74.630000,NaN,NaN,PE
140,Subic,14.750000,14.900000,120.150000,120.300000,NaN,NaN,PH
141,Lisbon,38.200000,39.200000,-9.600000,-8.600000,NaN,NaN,PO
142,Mesaieed,24.640000,25.640000,50.980000,51.980000,NaN,NaN,QA
143,Constanta,43.580000,44.580000,27.900000,28.900000,NaN,NaN,RO
144,Vaninoport,48.550000,49.550000,139.690000,140.690000,NaN,NaN,RU
145,Vostochny,41.830000,42.830000,132.540000,133.540000,NaN,NaN,RU
146,Jubail,26.510000,27.510000,48.900000,49.900000,NaN,NaN,SA
147,Koper,44.820000,45.820000,12.930000,13.930000,NaN,NaN,SL
148,SaldanhaBay,-33.150000,-32.900000,17.800000,18.200000,NaN,NaN,SO
149,RichardsBay,-28.900000,-28.700000,31.900000,32.150000,NaN,NaN,SO
150,Gijon,42.840000,43.840000,-5.900000,-4.900000,NaN,NaN,SP
151,ElFerrol,42.770000,43.770000,-8.700000,-7.700000,NaN,NaN,SP
152,Tarragona,40.540000,41.540000,0.630000,1.630000,NaN,NaN,SP
153,Carboneras,36.090000,37.090000,-2.040000,-1.040000,NaN,NaN,SP
154,Sines,37.060000,38.060000,-9.030000,-8.030000,NaN,NaN,SP
155,Lacoruna,42.730000,43.730000,-8.730000,-7.730000,NaN,NaN,SP
156,Hsinta,22.000000,23.000000,119.610000,120.610000,NaN,NaN,TA
157,Taipei,24.600000,25.600000,120.730000,121.730000,NaN,NaN,TA
158,Taichung,23.670000,24.670000,119.810000,120.810000,NaN,NaN,TA
159,Kaohsiung,21.840000,22.840000,119.690000,120.690000,NaN,NaN,TA
160,Mailiao,22.980000,23.980000,119.600000,120.600000,NaN,NaN,TA
161,MapTaPhut,12.170000,13.170000,100.670000,101.670000,NaN,NaN,TH
162,Rayong,12.140000,13.140000,100.800000,101.800000,NaN,NaN,TH
163,Sattahip,12.130000,13.130000,100.420000,101.420000,NaN,NaN,TH
164,LaemChabang,12.560000,13.560000,100.400000,101.400000,NaN,NaN,TH
165,Bangkok,12.880000,13.880000,100.100000,101.100000,NaN,NaN,TH
166,Thathong/Paluay/Suratthani,9.120000,10.120000,99.100000,100.100000,NaN,NaN,TH
167,Khanom,8.710000,9.710000,99.400000,100.400000,NaN,NaN,TH
168,Prachuap,10.710000,11.710000,99.080000,100.080000,NaN,NaN,TH
169,Songkhla,6.730000,7.730000,100.080000,101.080000,NaN,NaN,TH
170,Phuket,7.320000,8.320000,97.910000,98.910000,NaN,NaN,TH
171,Krabi,7.575000,8.575000,98.240000,99.240000,NaN,NaN,TH
172,Ranong,9.510000,10.510000,98.110000,99.110000,NaN,NaN,TH
173,PortofSpain(anchorage),10.160000,11.160000,-62.010000,-61.010000,NaN,NaN,TR
174,Erdemir(Eregli),40.640000,41.640000,30.730000,31.730000,NaN,NaN,TU
175,Isdemir(Iskenderunarea),35.930000,36.930000,35.610000,36.610000,NaN,NaN,TU
176,Zonguldak,40.810000,41.810000,31.030000,32.030000,NaN,NaN,TU
177,Yazici,35.910000,36.910000,35.600000,36.600000,NaN,NaN,TU
178,Redcar,54.110000,55.110000,-1.560000,-0.560000,NaN,NaN,UK
179,Immingham,52.870000,53.870000,-0.610000,0.390000,NaN,NaN,UK
180,PortTalbot,51.080000,52.080000,-4.310000,-3.310000,NaN,NaN,UK
181,Hunterston,54.940000,55.940000,-5.030000,-4.030000,NaN,NaN,UK
182,Novo,44.700000,44.750000,37.700000,37.900000,NaN,NaN,UK
183,Baltimore,36.850000,36.900000,-76.350000,-76.280000,NaN,NaN,US
184,Newportnews,36.940000,40.000000,-76.450000,-76.370000,NaN,NaN,US
185,Norfolk,36.070000,37.070000,-76.720000,-75.720000,NaN,NaN,US
186,MissRiver,28.650000,29.650000,-89.750000,-88.750000,NaN,NaN,US
187,Bocagrandeanch,9.060000,10.060000,-61.840000,-60.840000,NaN,NaN,VE
188,Pepel,8.400000,8.600000,-13.600000,-12.900000,L,IO,NaN
189,Buchanan,5.700000,5.950000,-10.250000,-9.900000,L,IO,NaN
190,AdangBay,-1.744840,-1.671401,116.265907,116.371994,NaN,NaN,NaN
191,Balikpapan,-1.289755,-1.221793,116.788788,116.831875,NaN,NaN,NaN
192,MuaraBerau,-0.394131,-0.179901,117.339478,117.567444,NaN,NaN,NaN
193,AparBayAnchorage,-2.106154,-2.027241,116.389504,116.522713,NaN,NaN,NaN
194,BanjarmasinAnchorage,-3.374284,-3.254322,114.480286,114.678726,NaN,NaN,NaN
195,BengkuluPort,-3.945776,-3.752579,102.196884,102.314987,NaN,NaN,NaN
196,BontangCoalTerminal,0.005836,0.092010,117.432518,117.522469,NaN,NaN,NaN
197,PulauLautCoalTerminal,-4.261507,-3.919060,115.791779,116.310883,NaN,NaN,NaN
198,MuaraSabakCoalTerminal,-1.040897,-0.912170,103.766212,103.950920,NaN,NaN,NaN
199,KertapatiCoalPort,-3.527128,-2.665969,104.831543,106.174622,NaN,NaN,NaN
200,MuaraBanyuAsinanchorage,-2.297586,-2.131542,104.728546,104.960632,NaN,NaN,NaN
201,NorthPulauLautCoalTerminal,-3.469557,-3.074695,116.180420,116.652832,NaN,NaN,NaN
202,Satui,-3.951941,-3.590178,115.350952,115.661316,NaN,NaN,NaN
203,SebukuIndo,-5.901896,-5.843667,105.485315,105.554924,NaN,NaN,NaN
204,Taboneo,-3.934130,-3.614848,114.348450,114.638214,NaN,NaN,NaN
205,TanjungSabau,-3.019841,-2.794911,116.244965,116.573181,NaN,NaN,NaN
206,Tarakan,3.262891,3.372570,117.520409,117.596970,NaN,NaN,NaN