In [40]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, accuracy_score
import matplotlib.pyplot as plt
import time

In [41]:
path = 'C:\Data\gender_cleaned_test_train.xlsx'

In [42]:
start = time.time()

train_df = pd.read_excel(path, sheet_name='train')
test_df = pd.read_excel(path, sheet_name='test')

print ('It took', time.time()-start, 'seconds.')

It took 1.1498889923095703 seconds.

In [43]:
time.time()

1542963927.538854

In [7]:
train_df.head()

   IsMale      Height      Weight identifier   entry_dt  IsHealthy
0       1  187.571423  109.819678       A001 2017-01-20          0
1       1  174.706036   73.688955       A002 2017-01-20          1
2       1  188.239668   96.584348       A003 2017-01-20          0
3       1  182.196685   99.899282       A004 2017-01-20          0
4       1  177.499761   93.682809       A005 2017-01-20          0

In [8]:
X = train_df[['Weight']]
y = train_df['Height']

In [12]:
lm = LinearRegression()
lm.fit(X, y)

print ('Coefficient: ' + str(lm.coef_[0]))
print ('Intercept: ' + str(lm.intercept_))

Coefficient: 0.6212647333122358
Intercept: 123.05166929005752

In [16]:
w = 80

h = lm.coef_[0]*w + lm.intercept_

print('The predicted height for a weight of {}kg is {}cm'.format(w, round(h, 2)))

The predicted height for a weight of 80kg is 172.75cm

In [25]:
pred_height = lm.predict(test_df[['Weight']])
test_df['pred_height'] = pred_height

In [26]:
test_df.head()

   IsMale      Height     Weight identifier   entry_dt  IsHealthy  pred_height
0       1  171.149703  81.410944      A4499 2017-01-20          0   173.629417
1       1  181.270568  90.746240      A4500 2017-01-20          0   179.429108
2       1  176.023347  92.088770      A4501 2017-01-20          0   180.263174
3       1  178.319044  80.203227      A4502 2017-01-20          0   172.879106
4       1  169.444393  79.445511      A4503 2017-01-20          0   172.408363

In [30]:
mse = mean_squared_error(test_df['Height'], test_df['pred_height'])
print('mean squared error: ' + str(mse)) #13.360583881226939

mean squared error: 13.360583881226939

## Newton's law of gravitation

In [31]:
gravpath = 'C:\Data\grav.csv'

In [32]:
df = pd.read_csv(gravpath)

In [33]:
df['1/rsquared'] = (df['mass1'] * df['mass2']) /  (df['r']**2)

In [34]:
X = df[['1/rsquared']]
y = df['F']

In [36]:
lm = LinearRegression()
lm.fit(X, y)

print ('Gravitational Constant: ' + str(lm.coef_[0]))
print ('Intercept: ' + str(lm.intercept_))

Gravitational Constant: 6.673999999999998e-11
Intercept: -5.293955920339377e-23