# My Print Command

## My subheading

In [14]:
people = ['Tinkywinky', 'Dipsy', 'Lala', 'Po']

In [10]:
mystring = 'I love shark data!'

In [57]:
baddate = '2016/Aug/20 15:37'

In [59]:
baddate.split()

['2016/Aug/20', '15:37']

In [63]:
baddate.split()[0].split('/')

['2016', 'Aug', '20']

In [12]:
mystring.split()[2].isalnum()

True

In [55]:
brews = ['corona', 'ipa', 'foster', 'heineken']

In [20]:
' '.join(brews)

'corona ipa foster heineken'

In [78]:
pubs = ['Lord Nelson', 'Turners', 'Captain Kidd']

In [40]:
print('I love drinking at {}, {} and {}'.format('Lord Nelson', 'Turners', 'Captain Kidd'))

I love drinking at Lord Nelson, Turners and Captain Kidd

In [41]:
for p in pubs:
    print('I love drinking at {}'.format(p))

I love drinking at Lord Nelson
I love drinking at Turners
I love drinking at Captain Kidd

In [43]:
email = 'matt@kubrick.com'

In [49]:
email[:email.find('@')]

'matt'

In [79]:
pubs.append('The Charlotte')

In [59]:
pubs.extend(brews)

In [80]:
pubs.insert(2, 'Tower Tavern')

In [96]:
pubs

['Turners', 'Tower Tavern', 'The Charlotte', 'Lord Nelson', 'Captain Kidd']

In [72]:
pubs.pop(3)

'Captain Kidd'

In [73]:
pubs.remove('Turners')

In [84]:
pubs.sort(reverse=True)

In [92]:
hipubs = [p.upper() for p in pubs]

In [97]:
lowpubs = []
for p in pubs:
    if p == 'Tower Tavern':
        lowpubs.append(p.upper())
    else:
        lowpubs.append(p)

In [98]:
lowpubs

['Turners', 'TOWER TAVERN', 'The Charlotte', 'Lord Nelson', 'Captain Kidd']

In [99]:
for i in 4:
    print(3)

TypeError: 'int' object is not iterable

In [100]:
halfalphab = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']

In [101]:
import collections

In [114]:
if isinstance(halfalphab, collections.Iterable):
    for i in halfalphab:
        print(i)

a
b
c
d
e
f
g
h
i
j
k
l
M

In [110]:
x = 3
y = 3
z = 4

print('Memory address of x is ' + hex(id(x)))
print('Memory address of y is ' + hex(id(y)))
print('Memory address of z is ' + hex(id(z)))

Memory address of x is 0x7ff9e7e9ef40
Memory address of y is 0x7ff9e7e9ef40
Memory address of z is 0x7ff9e7e9ef60

In [113]:
halfalphab[-1]

'M'

In [147]:
somenames = ['Matt', 'David', 'Aga', 'George', 'Amy']

In [146]:
somegenders = ['m', 'm', 'f', 'm', 'f']

In [127]:
sorted(somenames, key=lambda x: x[0])

['Aga', 'Amy', 'David', 'George', 'Matt']

In [129]:
basket = {'4753':2, '57365':1}

In [134]:
basket.keys()

dict_keys(['4753', '57365'])

In [139]:
list(basket.items())[1]

('57365', 1)

In [140]:
list('fhgk')

['f', 'h', 'g', 'k']

In [154]:
for idx in range(len(somenames)):
    print('{0} , {1}'.format(somenames[idx], somegenders[idx]))

Matt , m
David , m
Aga , f
George , m
Amy , f

In [155]:
countries = ['UK', 'France', 'Australia', 'Ethiopia']
capitals = ['London', 'Paris', 'Canberra', 'Addis Ababa']

for idx in range(len(countries)):
    print ('{} is the capital of {}'.format(capitals[idx], countries[idx]))

London is the capital of UK
Paris is the capital of France
Canberra is the capital of Australia
Addis Ababa is the capital of Ethiopia

In [256]:
cc = zip(countries, capitals)
dcc = dict(cc)#['France']

In [258]:
print(list(dcc))

['UK', 'France', 'Australia', 'Ethiopia']

In [244]:
orders = [{'name': 'Aga',
           'address': {
           'billing': '1 town ave',
           'delivery': '22 high st'}
          ,
           'basket': {'nvidia': 1},
           'orderdate': '2018-10-30'},
          {'name': 'Aga',
           'address': {
           'billing': '1 town ave',
           'delivery': '22 high st'}
          ,
           'basket': {'Tomb Raider': 1, 'HDMI': 1},
           'orderdate': '2018-10-30'}]

In [245]:
orders[1]['address']['billing']

'1 town ave'

In [228]:
for order in orders:
    for product, qty in order['basket'].items():
        print('Someone bought {} of {}'.format(qty, product))

Someone bought 1 of nvidia
Someone bought 1 of Tomb Raider
Someone bought 1 of HDMI

In [236]:
dlist = [{'name':'Matt','dob':'1992-12-04'},{'name':'Meg'}]

In [241]:
for i in dlist:
    print (i.get('dob',0))

1992-12-04
0

In [243]:
from pprint import pprint

In [259]:
q = input('Enter your name')

Enter your name Matt

In [260]:
q

'Matt'

In [3]:
3&4

0

In [4]:
ip = input('enter and ip address')
snm = input('enter a subnet mask')

enter and ip address 10.50.0.1
enter a subnet mask 255.255.224.0

In [5]:
ip

'10.50.0.1'

In [22]:
# Network ID calculator from ip address and subnet mask

ip = input('IP address:')
snm = input('Subnet mask:')

nwid = []
for i in range(len(ip.split('.'))):
    nwid.append(str((int(ip.split('.')[i]) & int(snm.split('.')[i]))))
print ('Network ID: {}'.format('.'.join(nwid)))

IP address: 192.168.101.137
Subnet mask: 255.255.0.0

Network ID: 192.168.0.0

In [30]:
networkid = '.'.join([str((int(ip.split('.')[i]) & int(snm.split('.')[i]))) for i in range(len(ip.split('.')))])

In [31]:
networkid

'192.168.0.0'

In [32]:
l = ['aa', 'bb', 'cc']

In [33]:
results = [element for element in l if element.startswith('b')]

In [34]:
results

['bb']

In [39]:
10 << 1

20

In [40]:
bin(20)

'0b10100'

In [50]:
squares = [num**2 for num in range (10) if num**2%2 == 0]
squares

[0, 4, 16, 36, 64]

In [54]:
newlist = [num for num in range(1000) if '3' in str(num)]
print(newlist)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [57]:
teststring = 'Find all of the words in a string that are less than 4 letters'
spacecount = len([char for char in teststring if char == ' '])
spacecount

13

In [61]:
teststring = 'Find all of the words in a string that are less than 4 letters'
novowels = ''.join([char for char in teststring if char not in 'aeiou'])
novowels

'Fnd ll f th wrds n  strng tht r lss thn 4 lttrs'

In [62]:
teststring = 'Find all of the words in a string that are less than 4 letters'
subfour = [word for word in teststring.split() if len(word) < 4]
subfour

['all', 'of', 'the', 'in', 'a', 'are', '4']

In [63]:
def ip_get_network(ip, snm):
    return '.'.join([str((int(ip.split('.')[i]) & int(snm.split('.')[i]))) for i in range(len(ip.split('.')))])

In [66]:
ip_get_network('192.168.43.137', '255.255.224.0')

'192.168.32.0'

In [77]:
def ip_get_networks(snm, *ip):
    networkids = []
    for i in ip:
        iplist = i.split('.')
        snmlist = snm.split('.')
        networkid = '.'.join([str((int(iplist[j]) & int(snmlist[j]))) for j in range(len(iplist))]) 
        networkids.append(networkid)
    return networkids

In [78]:
ip_list = ['192.168.101.137', '172.16.101.2']

In [79]:
ip_get_networks('255.255.224.0', '192.168.101.137', '172.16.101.2')

['192.168.96.0', '172.16.96.0']

In [80]:
def get_network_by_ip_snm(**kwargs):
    networkids = []
    for i, s in kwargs.items():
        iplist = i.split('.')
        snmlist = s.split('.')
        networkid = '.'.join([str((int(iplist[j]) & int(snmlist[j]))) for j in range(len(iplist))]) 
        networkids.append(networkid)
    return networkids

In [85]:
ipsnm_d = {'192.168.101.137':'255.255.240.0', '172.16.5.45':'255.240.0.0'}
get_network_by_ip_snm(**ipsnm_d)

['192.168.96.0', '172.16.0.0']

In [ ]:
ip_get_network